*{
    margin: 0px; 
    padding: 0px;
}
body{
    background-color: darkgrey;
}
pre{
    margin-top: 20%;
    padding: 50px;
    border-radius: 10px;
    width: fit-content;
    margin: 18% auto 0 auto;
    background-color: bisque;
}
main{
    text-align: center;
    font-size: xx-large;
}